@import 'global';

.chartContainer{
    min-height: 40%;
    margin: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}



.header{
    margin: 2%;
    color: rgb(14, 83, 44);
    font-family: $secondFont;
    font-size: 1.7em;
    font-weight: 600;
    padding-bottom: 1%;
    text-transform: capitalize;
    word-spacing: 3px; 
    text-shadow: 0px 3px 13px rgba(249, 253, 159, 0.368);
}

.info{
    color: rgb(9, 56, 30);
    font-family: $secondFont;
    font-size: 1em;
    margin: 1%;
    margin-bottom: 2%;
    
}


@media screen and (max-width: 300px) and (max-height: 655px) {
    .chartContainer{
        height: 90vh;
}
}