@import './_global.scss';
// .contactContainer{
//     padding: 2%;
//     min-height: 50%;
//     margin: 0%;
//     display: flex;
//     justify-content: center;
//     background-color: #fdd63c2f;

// }

@import './_global';
.contactContainer{
    margin-top: 2%;
    padding: 20px 0;
    position: relative;
    min-height: 60%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.contactContainer::before{
    content: "";
    background-image: url('https://i.natgeofe.com/n/a3832877-1dcb-4ed9-9479-7380c6aa8d2b/Currency%20Portraits_Immersive%20Final.jpg');
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}


.contactForm {
    position: relative;
    // backdrop-filter: blur(2px);
    text-align: center;
    font-family: $menuFont;
    font-weight: 600;
    width: 25%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;

}

.inputField{
    min-height: 12%;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid $inputFieldBorderColor;
    border-radius: 5px;
    color: $inputFieldColor;
    box-shadow: 3px 3px 15px #8888885a;
}

.textarea {
    min-height: 30%;
    max-height: 500px;
}

.btn{
  margin: 20px 0;
  width: 30%;
  height: 15%;
  appearance: none;
  background-color: rgba(81, 129, 81, 0.871);
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.1em;
  font-weight: 600;
  line-height: normal;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-1px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}


@media only screen and (max-width: 800px) {
  .contactForm{
    width: 90%;
  }
   .btn{
    width: 50%;
   }
   .contactContainer::before{
    content: "";
    padding: 5%;
    background: $backgroundAbout;
  ;
}


}