@import './global';
.conversionContainer{
    @include conversionGoldSilverContainer;

}

.btn{
    margin-top: 4%;
     font-weight: 100;
    display: flex;
    justify-content: center;
    min-width: 50%;
    height: 60%;
    text-transform:uppercase;
    padding: 2%;
    font-family: $menuFont;
    font-size: 1.3em;
    color: rgb(14, 83, 44);
    background: linear-gradient(#fb80053b, rgba(13, 65, 13, 0.18)); 
    cursor: pointer;
    outline: none;
    border: 1px solid #18622100;  
    border-radius: 3px;
    box-shadow: 0px 3px 13px rgba(103, 99, 99, 0.311); 

}

.btn:hover{
    animation-name: example;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    border: 1px solid #2b5d3b22; 
    box-shadow: 2px 3px 13px #2b5d3b22; 
    text-shadow: 2px 3px 13px #2b5d3b22;
}

.btnOnClick{
    margin-top: 4%;
    font-weight: 100;
    display: flex;
    justify-content: center;
    min-width: 50%;
    height: 50%;
    text-transform:uppercase;
    padding: 2%;
    font-family: $menuFont;
    font-size: 1.3em;
    color: rgb(14, 83, 44);
    backdrop-filter: blur(5px);
    cursor: pointer;
    outline: none;
    border: 2px solid #51945763;  
    border-radius: 3px;
    box-shadow: 0px 3px 13px rgba(65, 114, 86, 0.384); 
    background: linear-gradient(180deg, rgba(160, 222, 183, 0.454), #fb800527);
}

@keyframes example {
    from {background: linear-gradient(-180deg,  #fb800527, rgba(160, 222, 183, 0.454))}
    to {background: linear-gradient(180deg, rgba(160, 222, 183, 0.454), #fb800527)}
  }

 .conversionContainer svg{
    margin-left: 3%;

  }


  @media only screen and (min-height: 1000px) {
    .btn{
        height: 50%;
    }
    .btnOnClick{
        height: 50%;
    }
    
}

  @media only screen and  (max-width: 800px) {
    .btn{
        margin-top: 4%;
         font-weight: 100;
        display: flex;
        justify-content: center;
        min-width: 50%;
        height: 20%;
        text-transform:uppercase;
        padding: 2%;
        font-family: $menuFont;
        font-size: 1.3em;
        color: rgb(14, 83, 44);
        background: linear-gradient(#fb80053b, rgba(13, 65, 13, 0.18)); 
        cursor: pointer;
        outline: none;
        border: 1px solid #18622100;  
        border-radius: 3px;
        box-shadow: 0px 3px 13px rgba(103, 99, 99, 0.311); 
    
    }


    .conversionContainer{
        display: flex;
        flex-direction: column;
        margin-top: 0%;
        padding: 4%;
        min-height: 30%;
        justify-content: space-evenly;
    }
  }

 