@import 'global';
.wrapper{  
    bottom: 0%;
}

.container{
        background: $mainColorFooter; 
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow:  3px 3px 10px #b1b1b1;
        width: 100vw;    
        position: relative;
        bottom: 0;
        left: 0;
        margin-top: 3%;
}

@media only screen and (max-width: 650px) {
    .container ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 10%;
    }
}


// @media screen and (max-width: 300px) and (max-height: 655px) {
//         .container{
//             position: relative;
//     }
// }

