@import "global";

*{
    box-sizing: border-box;
   // font-family: 'Barlow', sans-serif;
}

body{
    height: 100vh;
    overflow-x: hidden !important;

}

.mainContainer{
    overflow-x: hidden !important;
    // height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

.NavContainer{
    display: grid;
    grid-template-columns: 20% 17% 17% 17% 17% 10%;  //1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 100% !important;
   background: $mainColorTopBar;
     color: $textColor;
    // border: 1px solid $topBarBorderColor;
    box-shadow:  16px 16px 32px #b1b1b1,
    -16px -16px 32px #ffffff;
 
}

.navEl{
    display: flex;
    justify-content: center;
    border: 1px solid rgba(175, 172, 172, 0.562);
    font-family: $topBarFont;
    padding-bottom: 2%;

}

.navSelect{
    overflow-x:visible !important;
    //  background-color: $mainColorOrangeLight;
     padding: 5%;
    }

.navEl:hover{
    // border-top: 2px solid white;
    border-bottom: 2px solid white;
}



.compNameMenu{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: center;
    color: $compNameColor;
    cursor: pointer;
    font-family: 'Staatliches', cursive;
}



.navElInMenu{
    display: none;
}

@media only screen and (max-width: 800px) {
 
    .navElInMenu{
        font-family: $topBarFont;
        color: black;
        font-size: 1.2em;
        display: flex;
        border-bottom: 1px solid rgba(139, 197, 224, 0.436);
        cursor: pointer;
    }

    .navElInMenu:hover{
        background-color: #fb800527;
    }
    .navEl{
        display: none;
    }

    .NavContainer{
        // grid-area: header;
       
        display: grid;
        grid-template-columns: 80% 20%;  //1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100vw;
        max-width: 100% !important;
        color: $textColor;
        background-color: $mainColorTopBar;
    }
  }


